:root {
  --prim: #5E81AC;
  --sec: #81A1C1;
  --tert: #88C0D0;
  --dark: #4C566A;
  --darker: #3B4252;
  --darkest: #2E3440;
  --light: #D8DEE9;
  --lighter: #E5E9F0;
  --lightest: #ECEFF4;
  --red: #BF616A;
  --yellow: #EBCB8B;
  --white: #fff;
  --black: #000;
  --bg: var(--white);
  --fg: var(--darker);
  --links: var(--prim);
  --quote-bg: #f7f7fa;
  --quote-border: var(--prim);
  --sidebar-active: var(--dark);
  --sidebar-bg: #f7f7fa;
  --sidebar-fg: var(--dark);
  --sidebar-spacer: var(--lightest);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-size-adjust: none;
}

*:hover {
  transition: all .35s ease-in-out;
}

html {
  font-family: system-ui, "Open Sans", sans-serif;
}

#theme-toggle {
  display: none;
}

h2,
h3 {
  margin-block-start: 3rem;
}

h4,
h5 {
  margin-block-start: 2rem;
}

hr {
  height: 1px;
  border: 0;
  background: var(--dark);
}

.chapter li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.chapter li a.active {
  color: var(--black);
  text-decoration: underline;
  text-decoration-color: var(--prim);
  text-decoration-thickness: 2px;
}

.chapter li {
  font-family: var(--mono-font);
  letter-spacing: -1px;
}

.chapter li > a.toggle {
  margin-inline-start: .25rem;
  text-decoration: none;
  visibility: hidden;
}

.content a:not(.header) {
  color: var(--prim);
  /* font-size: 14px; */
  /* font-weight: bold; */
  text-decoration: none;

  &:hover {
    color: var(--dark);
    text-decoration: underline;
  }
}

.content a[href^="https://"]:not(.header) {
  display: inline-block;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;

  &:hover {
    text-decoration-color: var(--prim);
    text-decoration-style: solid;
  }

  &::after {
    --size: .875em;

    display: inline-block;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%235E81AC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-external-link'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none' /%3E%3Cpath d='M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6' /%3E%3Cpath d='M11 13l9 -9' /%3E%3Cpath d='M15 4h5v5' /%3E%3C/svg%3E");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 2px;
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
  }
}

.content li > a[href^="https://"]:not(.header) {
  display: inline !important;
}

.content a[href^="./"]:not(.header) {
  display: inline-block;

  &::after,
  &::before {
    display: inline-block;
  }

  &::after {
    content: "]";
  }

  &::before {
    content: "[";
  }
}

pre {
  border-left: 2px solid var(--prim);
}

.hljs {
  background-color: #f5f7ff;
}

.table-wrapper table {
  margin-left: 0;
}

.nav-wide,
.nav-wide-wrapper,
.mobile-nav-chapters,
.nav-chapters {
  display: none !important;
}

.chapter-item.affix {
  margin-block-start: 0 !important;
}

li.spacer {
  margin-top: 16px;
  margin-bottom: 8px;
}

@media (-moz-touch-enabled: 1), (pointer: coarse) {
  li.spacer {
    margin-top: 16px;
  margin-bottom: 12px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--darkest);
    --fg: var(--light);
    --icons-hover: var(--lightest);
    --links: var(--prim);
    --quote-bg: var(--dark);
    --quote-border: var(--sec);
    --sidebar-active: var(--light);
    --sidebar-bg: var(--darkest);
    --sidebar-fg: var(--light);
    --sidebar-spacer: var(--light);
    --table-header-bg: var(--black);
    --table-border-color: var(--black);
    --table-alternate-bg: var(--darker);
  }

  hr {
    background: var(--light);
  }

  .chapter li a:hover {
    color: var(--lightest);
  }

  .chapter li a.active {
    color: var(--light);
  }

  .content a:not(.header) {
    color: var(--light);
    text-decoration-color: var(--prim);
  }

  .content a:not(.header):hover {
    color: var(--white);
    text-decoration-color: var(--yellow);
  }

  pre {
    border-left: 2px solid var(--sec);
  }

  .hljs {
    background-color: var(--light);
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  *:hover {
    transition: all .0s ease-in-out;
  }
}

@media (-moz-touch-enabled: 1), (pointer: coarse) {
  .chapter li > a.toggle{
    padding: 5px 10px;
  }
}
